 <?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.waiter.phonegap.oauth2Plugins"
      version="0.1.0">
    <name>Calendar</name>
    <description> googleAuth Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,oauth2,google</keywords>
 
 
    <js-module src="www/googleAuth.js" name="googleAuth">
        <clobbers target="window.googleAuth" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="googleAuth">
                <param name="android-package" value="com.waiter.phonegap.oauth2Plugins.googleAuth"/>
            </feature>
        </config-file>
 
        <source-file src="src/android/Calendar.java" target-dir="src/com/waiter/phonegap/oauth2Plugins"/>      
     </platform>          
</plugin>